<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Share Your Knowledge</title>
  </head>

  <body>

    <div class="container">
    
      <div class="jumbotron">
        <h1>Share Your Knowledge</h1>
        <p>This is a projet for the course design of dynamic web systems, at Luleå Tekniska Universitet (LTU)</p>
      </div>

      <div class="jumbotron">
        <h1>Contact us</h1>
        <p>Manuel Cerrillo: mancer-3@student.ltu.se</p>
        <p>Daniel Buldón:   danbul-3@student.ltu.se</p>
      </div>

    </div> <!-- /container -->
    
  </body>

</html>