<div class="jumbotron">
      <div class="container">
        <h1>Share Your Knowledge</h1>
        <p>The web where you can upload, share and find learning material.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">About the project &raquo;</a></p>
      </div>
</div>