<!DOCTYPE html>
<div class="container">
	      	<iframe class="container" src="http://docs.google.com/viewer?url=<%=url%>&embedded=true" width="600" height="780" style="border: none;"></iframe>

</div>