.custom_web{
	background-image: url("/images/background.jpg");
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
.jumbotron{
	opacity: 0.8;
}
.share_form{
	display: none;
	text-align: left;
}
.alert-error{
	background-color: #d35454;
}
.alert-success{
	background-color: #81d763;
}
.alert-info{
	background-color: #637cd7;
}
.navbar-brand{
	vertical-align: center;
}
hr{
	visibility: hidden;
}