<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/new_user.css" rel="stylesheet">

    <title>Share Your Knowledge</title>
  </head>

  <body>

    <div class="container">

      <form method='post' action='/users' class="form-signin">

        <h2 class="form-signin-heading">New account</h2>

        <input type="text" class="form-control" name="user[name]" placeholder="Name" value='<%= user.name%>' required autofocus>
        <input type="text" class="form-control" name="user[userID]" placeholder="User Id" value='<%= user.userID%>' required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>

      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>